
/* GENERAL SECTION LAYOUT  */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: grey;
    margin: 3.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOP SECTION LAYOUT  */

.top-padding {
    padding: 0 2rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section-container {
    width: 100%;
    height: 21.37rem;
    background-image: url(../public/images/ActivitatJapo.jpg);
    background-position: center;
    background-size: cover;
}

.top-section-division-top {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section-item {
    height: 30%;
    width: 13%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.top-section-item li{
    list-style: none;
    margin-left: 1rem;
}

.top-section-item li a{
    text-decoration: none;
    color: grey;
}

.top-section-item li a:hover{
    color: #ee9ea1;
    font-weight: bolder;
    transition: color 1s;
}

.top-center {
    width: 70%;
}

.top-section-division-bottom {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-section-division-bottom-item {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ee9ea1c0;
    font-size: 2rem;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.062);

}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fab + .fab{
    margin-top: 1rem;
}

/* MIDDLE SECTION LAYOUT  */

.middle-padding {
    padding: 2rem;
}

.middle-section-container {
    margin-top: 3rem;
    height: ;
    display: flex;
}

.middle-section-left-half {
    width: 50%;
    height: 100%;
    background-color: #DCDCDC;
}

.middle-section-aside {
    width: 50%;
    background-color:  #DCDCDC;
}

.middle-section-aside-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-section-aside-container div {
    height: 100%;
    width: 100%;
    background-color:#ECECEC;
    padding-bottom: 1rem;
}

.middle-left-top {
    height: 100%;
    display: flex;
}

.middle-left-top-section {
    height:70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-left-top-section div{
    height:40%;
    width: 100%;
    background-color: #ECECEC;
}

.middle-left-top-section + .middle-left-top-section {
    margin-left: 3rem;
}

.middle-left-bottom {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-left-bottom div{
    height: 100%;
    width: 100%;
    background-color: #ECECEC;
    padding-bottom: 1rem;
}

.article-image-left {
    width: 100%;
    height: 18rem;
}

.article-image-right {
    width: 100%;
    height: 18rem;
}

.top-text-tag {
    background-color: #F73F52;
    color: #ECECEC;
    font-weight: bold;
    line-height: 0.7;
    padding-top: 1rem;
    padding-left: .2rem;
    position: relative;
}

.top-text-content {
    padding: .5rem;
    font-size: .8rem;
    color: black;
}

.image-date {
    color: #ecececb0;
    font-weight: bold;
    font-size: .8rem;
    position: absolute;
    top: -0.8rem;
    padding-left: .3rem;
}

.link-middle-section {
    text-decoration: none;
    color: grey;
    padding: .5rem;
    font-size: .8rem;
}

.top-text-t-container {
    position: relative;
}

/* BOTTOM SECTION LAYOUT  */

.bottom-section {
    margin-top: 3rem;
    width: 100%;
    height: 5rem;
    background-color: #E6AF2E;
    border: 2.62rem solid black;
}

/* RESPONSIVE LAYOUT TABLET */

@media (max-width: 900px) {
    .top-section-item + .top-section-item{
        margin-left: 2rem;
    }

    .middle-section-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        width: 100%;
    }
    
    .middle-section-left-half {
        width: 90%;
        height: 70%;
    }
    
    .middle-section-aside {
        border-left: none;
        width: 90%;
        height: 30%;
    }
    
    .middle-section-aside-container {
        height: 100%;
        width: 100%;
    }

    .article-image-left {
        width: 100%;
        height: 100%;
    }
    
    .article-image-right {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1000px) and (min-width: 600px){
    .middle-section-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }
    
    .middle-section-left-half {
        width: 90%;
        height: 70%;
    }
    
    .middle-section-aside {
        border-left: none;
        width: 90%;
        height: 30%;
    }
    
    .middle-section-aside-container {
        height: 100%;
    }
}

/* REPONSIVE LAYOUT MOBILE */

@media (max-width: 600px){

    .top-section-division-bottom-item {
        font-size: 1.5rem;
        text-overflow: hidden;
    }
}